@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nokia';
  src: url('../fonts/nokia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00ACEC;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00ACEC;
}
